<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Coda&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="../static/images/favicon.png" type="image/.png">
    <title>Document</title>
</head>
<style>
    :root {
    --blue: #225378;
    --white: #ffffff;
    --lightblue: rgba(67, 95, 118, 0.512);
  }
  body {
    font-family: 'Coda', cursive;
    font-size: 14px;
  }
  .bi {
    color: var(--blue);
  }
  .eye>i:hover{
    color: var(--white) !important;
  }
  .btn-create{
    /* padding: 10px 30px 10px 30px; */
    border: 2px solid var(--blue);
    border-radius: 4px;
  }
  .btn-create:hover{
    background-color: var(--blue);
    color: var(--white);
  }
</style>
<body>
   
     <!-- navbar  -->
  <nav class="navbar navbar-expand-lg navbar-light p-4">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="/static/images/logo.png" width="150" height="36" alt="Logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href=<%='/admin/urls' %>>All urls</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- navbar end  -->
    <div class="container p-5"> 
        <% if(users.length != 0){ %>
        <h2 class="text-center mb-5">Our Users</h2>
        <div class="row g-4 text-center">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col-1">S.No.</th>
                <th scope="col-5">Users</th>
                <th scope="col-3">View Info</th>
                <th scope="col-3">Delete USer</th>
              </tr>
            </thead>
            <tbody>
          
            <% var count=1 %>
            <!-- <% const shorturl="https://sort-s.herokuapp.com/" %> -->
            <% users.reverse().forEach((user) => { %>
              <tr>
                <th scope="row"><%= count++ %></th>
                <td><%= user.email %></td>
                <td><a class="btn btn-create eye" href=<%= `/admin/view/${user.email}`%>><i class="bi bi-eye"></i></a></td>
                <td><a href=<%= `/admin/delete/${user.email}`%>><i class="bi bi-trash"></i></a></td>
              </tr>

            <% }) %>
          </tbody>
        </table>
          <%  }else{ %>
          <h2 class="text-center">No Users Found😔😔</h2>
          <% } %>
  
        </div>
      </div>
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"
  ></script>
</body>
</html>